#html { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); }
BODY {
	FONT-SIZE: 12px; BACKGROUND: Repeat-x left top; MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.input1 {
	BORDER-RIGHT: #d8af92 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d8af92 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: url(../images/bg_btn.jpg) #ffcc99 repeat-x; PADDING-BOTTOM: 2px; BORDER-LEFT: #d8af92 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #d8af92 1px solid
}
A:link {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0066; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff0066; TEXT-DECORATION: underline
}
A.a01:link {
	COLOR: red
}
A.a01:hover {
	COLOR: #ff6600
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#toplink {
	MARGIN-TOP: 5px; FLOAT: right; TEXT-ALIGN: right 
}
#toplink UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toplink LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toplink LI A {
	BORDER-RIGHT: #a4d1ff 1px solid; PADDING-RIGHT: 7px; DISPLAY: block; MARGIN-LEFT: 7px; TEXT-DECORATION: none
}
#toplink LI#last {
	PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#welcom {
	
}

#welcom span{
	font-size: 18px;text-decoration:none; COLOR: #009900;FONT-WEIGHT: bold
}
#nav {
	MARGIN-TOP: 20px
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav LI#current a{
	PADDING-LEFT: 10px; BACKGROUND: url(../images/bg_nav1.jpg) no-repeat left -33px
}
#nav LI#current SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../images/bg_nav2.jpg) no-repeat right -33px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 10px
}
#nav LI A {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/bg_nav1.jpg) no-repeat left top; COLOR: #000000; TEXT-DECORATION: none
}
#nav LI A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/bg_nav2.jpg) no-repeat right top; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 10px; TEXT-DECORATION: none
}
#nav LI A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#nav LI A:hover {
	BACKGROUND: url(../images/bg_nav1.jpg) no-repeat left -66px
}
#nav LI A:hover SPAN {
	BACKGROUND: url(../images/bg_nav2.jpg) no-repeat right -66px
}
#search_tb {
	MARGIN-TOP: 20px; BACKGROUND: url(../images/bg_search.jpg) repeat-x; BORDER-COLLAPSE: collapse; HEIGHT: 40px
}
#hot_area {

}
#hot_area A {
	COLOR: #ffffcc
}
#hot_area A:hover {
	COLOR: #fff
}
#hot_area2 {

}
#hot_area2 A {
	COLOR: #ffffcc
}
#hot_area2 A:hover {
	COLOR: #fff
}
#path {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #999999 1px solid
}
#path A {
	COLOR: #333333; TEXT-DECORATION: underline
}
#path A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
#path A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#path_newinfo {
	FONT-WEIGHT: bold; FLOAT: right
}
#path_newinfo A {
	COLOR: #ff6600
}
#path_newinfo A:visited {
	COLOR: #ff6600
}
#path_newinfo A:hover {
	COLOR: #ff0000
}
#path_box {
	MARGIN-RIGHT: 160px
}
#fenlei {
	BORDER-RIGHT: #ebebeb 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ebebeb 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 10Px; BORDER-LEFT: #ebebeb 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ebebeb 1px solid
}
#fl_left {
	BORDER-RIGHT: #cccccc 1px dotted; FLOAT: left; WIDTH: 120Px; LINE-HEIGHT: 24px;font-size:13px
}
#fl_left2 {
	PADDING-LEFT: 10px;BORDER-RIGHT: #cccccc 1px dotted; FLOAT: left; WIDTH: 120Px; LINE-HEIGHT: 24px;font-size:13px
}
#fl_right {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 130Px; LINE-HEIGHT: 24px;font-size:13px
}
#fenlei UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#fenlei LI {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 90px; LINE-HEIGHT: 14px; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#fenlei H2 {
	CLEAR: both; FONT-SIZE: 13px; MARGIN: 0px; WIDTH: 120Px; PADDING-TOP: 8px
}
#fenlei H2 A {
	COLOR: #ff6600
}
#fenlei H2 A:hover {
	COLOR: #ff3300
}
#fenlei H2 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999999
}
#fenlei H2.fl_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;font-size:13px
}
#dianpu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
#dianpu SPAN {
	OVERFLOW: hidden; TEXT-OVERFLOW: ellipsis
}
#new_info {
	BORDER-RIGHT: #f3f3f3 1px solid; BORDER-TOP: #f3f3f3 1px solid; BORDER-LEFT: #f3f3f3 1px solid; BORDER-BOTTOM: #f3f3f3 1px solid
}
#new_info H2 {
	PADDING-LEFT: 5px; FONT-SIZE: 13px; BACKGROUND: #f3f3f3; COLOR: #333333; LINE-HEIGHT: 22px
}
#new_info UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#new_info LI {
	PADDING-BOTTOM: 7px; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#new_info LI SPAN {
	FONT-WEIGHT: bold
}
.box1 {
	BORDER-RIGHT: #ffd0b0 1px solid; BORDER-TOP: #ffd0b0 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #ffd0b0 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ffd0b0 1px solid
}
.box3 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-BOTTOM: 0px; BORDER-LEFT: #e0e0e0 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.box2 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #e0e0e0 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.box1 H2 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: #fff4ee; COLOR: #333333; LINE-HEIGHT: 22px
}
.box2 H2 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: #fff4ee; COLOR: #333333; LINE-HEIGHT: 22px
}
.box2 H2 {
	BACKGROUND: #f2f2f2
}
.box2 IMG {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.box1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.box2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.box1 LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/li_dot.gif) no-repeat 0px 7px; MARGIN: 0px; COLOR: #333333; LIST-STYLE-TYPE: none
}
.box2 LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/li_dot.gif) no-repeat 0px 7px; MARGIN: 0px; COLOR: #333333; LIST-STYLE-TYPE: none
}
.box1 LI#more {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-ALIGN: right
}
.box2 LI#more {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-ALIGN: right
}
.box1 LI A {
	COLOR: #333333
}
.box2 LI A {
	COLOR: #0066CC
}
.box1 LI A:visited {
	COLOR: #333333
}
.box2 LI A:visited {
	COLOR: #333333
}
.box1 LI A:hover {
	COLOR: #000000
}
.box2 LI A:hover {
	COLOR: #000000
}
.box1 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 10px; TEXT-INDENT: 2em; PADDING-TOP: 0px
}
.box2 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 10px; TEXT-INDENT: 2em; PADDING-TOP: 0px
}
#box_pr {
	BORDER-RIGHT: #edebcd 1px solid; BORDER-TOP: #edebcd 1px solid; BACKGROUND: #fefdec; MARGIN-BOTTOM: 10px; BORDER-LEFT: #edebcd 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #edebcd 1px solid
}
.box_in {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 8px; PADDING-TOP: 0px
}
#maincol {
	BORDER-RIGHT: #ebebeb 1px solid;BACKGROUND: #eef4fd;  PADDING-RIGHT: 10px; BORDER-TOP: #ebebeb 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ebebeb 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #ebebeb 1px solid;color:000000;font-size:13px
}
#tools {
	BORDER-RIGHT: #ebebeb 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ebebeb 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ebebeb 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 10px; BORDER-BOTTOM: #ebebeb 1px solid
}
#links {
	PADDING-RIGHT: 10px; MARGIN-TOP: 10px; PADDING-LEFT: 10px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 10px; COLOR: #999999; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
#links A {
	COLOR: #333333
}
#foot {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px auto; WIDTH: 960px; COLOR: #999999; LINE-HEIGHT: 20px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#navdis {
	BORDER-RIGHT: #c0dcfa 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 13px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: #c0dcfa 1px solid; WIDTH: 100%; LINE-HEIGHT: 20px; PADDING-TOP: 3px; BORDER-BOTTOM: #c0dcfa 1px solid
}
#rightColumn3
{
    FLOAT: right;
    WIDTH: 250px;
    POSITION: relative
}
TABLE.cityWindow
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #666666;
    LINE-HEIGHT: 180%;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
TABLE.cityWindow TD
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}
#cityWindow
{
    BORDER-RIGHT: #ffaa00 1px solid;
    BORDER-TOP: #ffaa00 1px solid;
    FILTER: Alpha(Opacity=90, FinishOpacity=0, Style=0, StartX=0, StartY=0, FinishX=0, FinishY=0);
    MARGIN: 5px;
    BORDER-LEFT: #ffaa00 1px solid;
    BORDER-BOTTOM: #ffaa00 1px solid;
    BACKGROUND-COLOR: #fffcf6
}
#cityWindow UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    MARGIN: 4px 8px;
    WIDTH: 480px;
    COLOR: #333333;
    LINE-HEIGHT: 130%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
#cityWindow LI
{
    FLOAT: left;
    WIDTH: 80px
}
#cityWindow UL A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #666666;
    LINE-HEIGHT: 130%;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
#cityWindow UL A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #666666;
    LINE-HEIGHT: 130%;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
#cityWindow UL A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #ff6600;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-DECORATION: underline
}
#cityWindow UL A:active
{
    FONT-WEIGHT: bold;
    COLOR: #ff6600;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-DECORATION: underline
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    MARGIN: 4px 4px 2px 0px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H3 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H3 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H3 A:hover
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
H3 A:active
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
A.h3:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.h3:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.h3:hover
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
A.h3:active
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
#div_b {
	display:none
}
ul,li{
	margin:0;padding:0;list-style:none
}
/****会员中心页面样式开始***/
#mem_left{
	float:left;width:180px;border:1px solid #D5301A;background:#F9F0DE;
}
#mem_name{
	text-align:center;font-size:14px;line-height:24px;background:#dbdbdb;padding:5px;color:#000;font-weight:bold;
}
#mem_left H2{
	background:#E8D0A8;font-size:14px;padding-left:15px;line-height:26px;color:#D5301A
}
#mem_left ul{
	margin-top:1px;padding:3px 0
}
#mem_left ul li a{
	background:url(../images/img_arrow.gif) no-repeat 15px 10px;padding-left:25px;display:block;height:28px;line-height:28px;color:#000;
}
#mem_left ul li a:visited{
	color:#000;text-decoration:underline;
}
#mem_left ul li a:hover{
	background:#fff url(../images/img_arrow.gif) no-repeat 15px 10px;
}
#mem_left ul li.selected{
	height:28px;line-height:28px;padding-left:25px;background:#fff url(../images/img_arrow.gif) no-repeat 15px 8px;color:#D5301A;font-weight:bold
}
#mem_main{
	background:#fff;margin-left:204px;margin-right:220px
}
#mem_main2{
	background:#fff;margin-left:204px;
}
#mem_right{
	float:right;margin-left:10px;width:210px;
}