#main_left1 {
	border:1px solid #c5ebff;padding-top:1px; FLOAT: left; WIDTH: 800Px; LINE-HEIGHT: 24px;font-size:13px
}
#fl_left {
	color:#0000ee
}

#main_left2 {
	BORDER-RIGHT: #cccccc 1px dotted; FLOAT: left; WIDTH: 170Px; LINE-HEIGHT: 24px;font-size:13px
}
#fl_left {
	color:#0000ee
}