BODY
{
    MIN-WIDTH: 980px;
    FONT-SIZE: 12px;
    MARGIN: 0px 5px 5px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    BACKGROUND-COLOR: #fff
}
HTML
{
    SCROLLBAR-FACE-COLOR: #dddddd;
    SCROLLBAR-HIGHLIGHT-COLOR: #fff;
    SCROLLBAR-SHADOW-COLOR: #fff;
    SCROLLBAR-3DLIGHT-COLOR: #dddddd;
    SCROLLBAR-ARROW-COLOR: #fff;
    SCROLLBAR-TRACK-COLOR: #f1f1f1;
    SCROLLBAR-DARKSHADOW-COLOR: #dddddd
}
A:link
{
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 12px;
    COLOR: #ff6600;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 12px;
    COLOR: #ff6600;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.functionLink:link
{
    FONT-SIZE: 12px;
    COLOR: #222222;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
A.functionLink:visited
{
    FONT-SIZE: 12px;
    COLOR: #222222;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
A.functionLink:hover
{
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
.functionLink A:link
{
    FONT-SIZE: 12px;
    COLOR: #222222;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
.functionLink A:visited
{
    FONT-SIZE: 12px;
    COLOR: #222222;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
.functionLink A:hover
{
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
A.redLink:link
{
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
A.redLink:visited
{
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
A.redLink:hover
{
    COLOR: #fff;
    BACKGROUND-COLOR: #ff0000;
    TEXT-DECORATION: none
}
A.redLink2:link
{
    COLOR: #ff0000;
    TEXT-DECORATION: none
}
A.redLink2:visited
{
    COLOR: #ff0000;
    TEXT-DECORATION: none
}
A.redLink2:hover
{
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
A.otherLink1:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #ff9900;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
A.otherLink1:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #ff9900;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
A.otherLink1:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
A.otherLink1:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
HR
{
    COLOR: #ccc;
    HEIGHT: 1px
}
H2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    MARGIN: 4px 4px 2px;
    COLOR: #000000;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H2 A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
H2 A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
H2 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
H2 A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
A.h2:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.h2:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.h2:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
A.h2:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    MARGIN: 4px 4px 2px 0px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H3 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H3 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H3 A:hover
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
H3 A:active
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
A.h3:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.h3:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.h3:hover
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
A.h3:active
{
    FONT-SIZE: 14px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    MARGIN: 4px 4px 2px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H4 SPAN
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #999
}
H4 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
H4 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
H4 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
H4 A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
A.h4:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.h4:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.h4:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
A.h4:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #333333;
    TEXT-DECORATION: none
}
H5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    MARGIN: 4px 4px 2px;
    COLOR: #d5aa00;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H5 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #d5aa00;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H5 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #d5aa00;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
H5 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #d5aa00;
    TEXT-DECORATION: none
}
H5 A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #d5aa00;
    TEXT-DECORATION: none
}
A.h5:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #d5aa00;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.h5:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #d5aa00;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
A.h5:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #d5aa00;
    TEXT-DECORATION: none
}
A.h5:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #fff;
    BACKGROUND-COLOR: #d5aa00;
    TEXT-DECORATION: none
}
H6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    MARGIN: 5px 10px 0px;
    COLOR: #e68b2c;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
INPUT.searchText1
{
    BORDER-RIGHT: #afafaf 1px solid;
    BORDER-TOP: #afafaf 1px solid;
    PADDING-LEFT: 22px;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(/tpl/img/ico_search.gif);
    BORDER-LEFT: #afafaf 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #afafaf 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: arial;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #fff;
    TEXT-DECORATION: none
}
INPUT.searchText
{
    BORDER-RIGHT: #afafaf 1px solid;
    BORDER-TOP: #afafaf 1px solid;
    PADDING-LEFT: 22px;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(/tpl/img/ico_search.gif);
    BORDER-LEFT: #afafaf 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #afafaf 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: arial;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #fff;
    TEXT-DECORATION: none
}
* + HTML INPUT.searchText
{
    HEIGHT: 15px
}
INPUT.text
{
    BORDER-RIGHT: #afafaf 1px solid;
    BORDER-TOP: #afafaf 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #afafaf 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #afafaf 1px solid;
    FONT-FAMILY: arial;
    HEIGHT: 14px;
    BACKGROUND-COLOR: #fff;
    TEXT-DECORATION: none
}
INPUT.upLoad
{
    BORDER-RIGHT: #afafaf 1px solid;
    BORDER-TOP: #afafaf 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #afafaf 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #afafaf 1px solid;
    FONT-FAMILY: arial;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #fff;
    TEXT-DECORATION: none
}
INPUT.button
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(/tpl/img/bg_button.gif);
    MARGIN-LEFT: 2px;
    BORDER-LEFT: #666666 1px solid;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: "宋体";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #efefef
}
SELECT
{
    BORDER-RIGHT: #afafaf 1px solid;
    BORDER-TOP: #afafaf 1px solid;
    BORDER-LEFT: #afafaf 1px solid;
    BORDER-BOTTOM: #afafaf 1px solid;
    HEIGHT: 19px
}
TEXTAREA
{
    BORDER-RIGHT: #afafaf 1px solid;
    BORDER-TOP: #afafaf 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #afafaf 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #afafaf 1px solid;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #fff;
    TEXT-DECORATION: none
}
UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TABLE.picBorder
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #fff
}
TABLE.picBorder TD
{
    PADDING-RIGHT: 1px! important;
    PADDING-LEFT: 1px! important;
    PADDING-BOTTOM: 1px! important;
    BORDER-TOP-STYLE: none! important;
    PADDING-TOP: 1px! important;
    BORDER-RIGHT-STYLE: none! important;
    BORDER-LEFT-STYLE: none! important;
    BORDER-BOTTOM-STYLE: none! important
}
TABLE.underDotLine
{
    BACKGROUND-POSITION: 50% bottom;
    BACKGROUND-IMAGE: url(/tpl/img/bg_dotLine1.gif);
    MARGIN: 0px 0px 0px 3px;
    BACKGROUND-REPEAT: repeat-x
}
TABLE.underDotLine TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 0px
}
TABLE.leftProject
{
    MARGIN: 10px 0px 0px 4px;
    BORDER-LEFT: #e2e2e2 5px solid;
    TEXT-DECORATION: none
}
TABLE.leftProject TD
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 3px
}
* HTML TABLE.leftProject TD
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 4px
}
* + HTML TABLE.leftProject TD
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 4px
}
TABLE.classifideInfo UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 5px 2px 2px 10px;
    COLOR: #888;
    LINE-HEIGHT: 140%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
TABLE.classifideInfo UL A:link
{
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
TABLE.classifideInfo UL A:visited
{
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
TABLE.classifideInfo UL A:hover
{
    FONT-SIZE: 12px;
    COLOR: #ff6600;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
TABLE.classifideInfo UL A:active
{
    FONT-SIZE: 12px;
    COLOR: #ff6600;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: underline
}
TABLE.classifideInfo LI
{
    FONT-SIZE: 11px;
    COLOR: #999;
    FONT-FAMILY: arial;
    WHITE-SPACE: nowrap
}
TABLE.blockList UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 2px;
    COLOR: #555555;
    LINE-HEIGHT: 160%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
TABLE.blockList LI
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-IMAGE: url(/tpl/img/ico_liDot.gif);
    TEXT-INDENT: 1em;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap
}
TABLE.blockListNoDot UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 2px 2px 2px 5px;
    COLOR: #555555;
    LINE-HEIGHT: 160%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
TABLE.blockListNoDot LI
{
    WHITE-SPACE: nowrap
}
TABLE.mainPageList1 UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 2px 0px 2px 5px;
    COLOR: #555555;
    LINE-HEIGHT: 180%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
TABLE.mainPageList1 LI
{
    BACKGROUND-POSITION: 0px 8px;
    BACKGROUND-IMAGE: url(/tpl/img/ico_liDot.gif);
    TEXT-INDENT: 1em;
    BACKGROUND-REPEAT: no-repeat
}
TABLE.mainPageList2 UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 2px 0px 5px 5px;
    COLOR: #555555;
    LINE-HEIGHT: 180%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
TABLE.mainPageList2 LI
{
    WHITE-SPACE: nowrap
}
TABLE.cityNav
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #777777;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
TABLE.cityNav TD
{
    PADDING-RIGHT: 0px;
    BACKGROUND-POSITION: 50% bottom;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: url(/tpl/img/bg_dotLine1.gif);
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 6px;
    BACKGROUND-REPEAT: repeat-x
}
TABLE.cityWindow
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #666666;
    LINE-HEIGHT: 180%;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
TABLE.cityWindow TD
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}
TABLE.titel5
{
    BACKGROUND-POSITION: 50% bottom;
    BACKGROUND-IMAGE: url(/tpl/img/bg_titel5.gif);
    BACKGROUND-REPEAT: repeat-x
}
.cityNav A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.cityNav A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.cityNav A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    BACKGROUND-COLOR: #e2d6a5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.cityNav A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    BACKGROUND-COLOR: #e2d6a5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
#nav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
#nav TD
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    BACKGROUND-IMAGE: url(/tpl/img/bg_Nav.gif);
    PADDING-BOTTOM: 7px;
    PADDING-TOP: 9px;
    BACKGROUND-REPEAT: repeat-x
}
#nav A:link
{
    FONT-SIZE: 14px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
#nav A:visited
{
    FONT-SIZE: 14px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
#nav A:hover
{
    FONT-SIZE: 14px;
    COLOR: #ff6600;
    TEXT-DECORATION: none
}
#nav A:active
{
    FONT-SIZE: 14px;
    COLOR: #ff6600;
    TEXT-DECORATION: none
}
#cityWindow
{
    BORDER-RIGHT: #ffaa00 1px solid;
    BORDER-TOP: #ffaa00 1px solid;
    FILTER: Alpha(Opacity=90, FinishOpacity=0, Style=0, StartX=0, StartY=0, FinishX=0, FinishY=0);
    MARGIN: 5px;
    BORDER-LEFT: #ffaa00 1px solid;
    BORDER-BOTTOM: #ffaa00 1px solid;
    BACKGROUND-COLOR: #fffcf6
}
#cityWindow UL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    MARGIN: 4px 8px;
    WIDTH: 480px;
    COLOR: #333333;
    LINE-HEIGHT: 130%;
    FONT-FAMILY: "宋体";
    LIST-STYLE-TYPE: none;
    TEXT-DECORATION: none
}
#cityWindow LI
{
    FLOAT: left;
    WIDTH: 80px
}
#cityWindow UL A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #666666;
    LINE-HEIGHT: 130%;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
#cityWindow UL A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #666666;
    LINE-HEIGHT: 130%;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
#cityWindow UL A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #ff6600;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-DECORATION: underline
}
#cityWindow UL A:active
{
    FONT-WEIGHT: bold;
    COLOR: #ff6600;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-DECORATION: underline
}
#navTop
{
    BACKGROUND-POSITION: 50% bottom;
    BACKGROUND-IMAGE: url(/tpl/img/navUnderLine.gif);
    WIDTH: 100%;
    BACKGROUND-REPEAT: repeat-x
}
TD.redLine
{
    BORDER-BOTTOM: #ff0000 1px solid
}
TD.grayLine
{
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: bottom;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #cccccc 1px solid
}
TD.dotLine2
{
    BACKGROUND-POSITION: center 50%;
    BACKGROUND-IMAGE: url(/tpl/img/bg_dotLine2.gif);
    BACKGROUND-REPEAT: repeat-y
}
.font_bold
{
    FONT-WEIGHT: bold
}
.font_14px
{
    FONT-SIZE: 14px
}
.font_26
{
    FONT-SIZE: 26px
}
.font_red
{
    COLOR: #ff0000
}
.font_green
{
    COLOR: #009900
}
.font_right
{
    COLOR: #fff
}
.font_black
{
    COLOR: #000000
}
.font_orange
{
    COLOR: #ff6600
}
.font_CurrentCity
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 26px;
    MARGIN-BOTTOM: 0px;
    COLOR: #ff6600
}
.font_topOthersList
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 3px;
    COLOR: #666666;
    PADDING-TOP: 3px;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
.font_topOthersList A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
.font_topOthersList A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none
}
.font_topOthersList A:hover
{
    COLOR: #e68b2c;
    TEXT-DECORATION: underline
}
.font_topOthersList A:active
{
    COLOR: #e68b2c;
    TEXT-DECORATION: underline
}
TD
{
    FONT-SIZE: 12px
}
#googleSearch
{
    BORDER-RIGHT: #f6b819 1px solid;
    PADDING-RIGHT: 8px;
    BACKGROUND-POSITION: 8px 7px;
    BORDER-TOP: #f6b819 1px solid;
    PADDING-LEFT: 8px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    BACKGROUND-IMAGE: url(logo_googleSearch.jpg);
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #f6b819 1px solid;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #f6b819 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 38px;
    BACKGROUND-COLOR: #fffae6;
    TEXT-DECORATION: none
}
#googleSearch A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
#googleSearch A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
#googleSearch A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #ff6600;
    TEXT-DECORATION: underline
}
#googleSearch A:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #ff6600;
    TEXT-DECORATION: underline
}
#googleSearch INPUT.googleSearch
{
    MARGIN-LEFT: 90px
}
#ganjiSearch
{
    BORDER-RIGHT: #75d421 1px solid;
    PADDING-RIGHT: 8px;
    BACKGROUND-POSITION: 8px 7px;
    BORDER-TOP: #75d421 1px solid;
    PADDING-LEFT: 8px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    BACKGROUND-IMAGE: url(logo_ganjiSearch.jpg);
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #75d421 1px solid;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #75d421 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 38px;
    BACKGROUND-COLOR: #f0ffea;
    TEXT-DECORATION: none
}
#ganjiSearch A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
#ganjiSearch A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
#ganjiSearch A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #ff6600;
    TEXT-DECORATION: underline
}
#ganjiSearch A:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #ff6600;
    TEXT-DECORATION: underline
}
#ganjiSearch INPUT.ganjiSearch
{
    MARGIN-LEFT: 90px
}
#ganjiSearch TD
{
    WHITE-SPACE: nowrap
}
A.hBtn1:link
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_help.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn1:visited
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_help.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn1:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn2:link
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_logon.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn2:visited
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_logon.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn2:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn2:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn3:link
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_post.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn3:visited
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_post.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn3:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn3:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn4:link
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_member.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn4:visited
{
    DISPLAY: block;
    FONT-SIZE: 12px;
    BACKGROUND: url(/tpl/img/hBtn_member.gif) no-repeat 0px 0px;
    WIDTH: 153px;
    COLOR: #333;
    TEXT-INDENT: 40px;
    PADDING-TOP: 7px;
    HEIGHT: 17px
}
A.hBtn4:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
A.hBtn4:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #f70
}
