<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<LINK href="/static/css/main_new.css" type=text/css rel=stylesheet>
<meta name="description" content="北京招聘网" />
<meta name="keywords" content="北京招聘求职" />
<title><%=constCurrentCity%>分类信息网,免费发布信息-蒜皮网</title>
</head>
<body>
<!---#include file="includes/include_head_main_index.asp"-->
<div id="search_tb">
	<span id="welcome">欢迎来到<%=constCurrentCity%>分类信息网 -</span><span id="welcome_text">免费发布<%=constCurrentCity%>招聘、<%=constCurrentCity%>交友、<%=constCurrentCity%>租房、<%=constCurrentCity%>二手货、<%=constCurrentCity%>家电维修等分类信息。</span>
</div>
<div id="fl_left">
	<h3><A href="<%=constURL%>/fang/">房屋租售</a></h3>
	<A href="<%=constURL%>/zufang/">房屋出租</A><br>
	<A href="<%=constURL%>/qiuzufang/">房屋求租</A><br>
	<A href="<%=constURL%>/ershoufang/">二手房</A><br>
	<A href="<%=constURL%>/qiugoufang/">房屋求购</A><br>
	<A href="<%=constURL%>/xiezilou/">写字楼/办公楼</A><br>
	<A href="<%=constURL%>/changfang/">厂房/仓库/大院</A><br>
	<A href="<%=constURL%>/shangpu/">商铺/生意转让</A><br>
	<A href="<%=constURL%>/duanzufang/">短期租房</A>
	<h3><A href="<%=constURL%>/car/">二手车辆</A></h3>
	<A href="<%=constURL%>/ershouche/">二手汽车买卖</A><br>
	<A href="<%=constURL%>/qixiubaoyang/">汽修/保养</A><br>
	<A href="<%=constURL%>/cheliangpeijian/">车辆配件</A><br>
	<A href="<%=constURL%>/ershouzixingche/">自行车买卖</A><br>
	<A href="<%=constURL%>/daicheqiuzhi/">带车求职</A><br>
	<A href="<%=constURL%>/wucheqiuzhi/">无车司机求职</A><br>
	<A href="<%=constURL%>/jiaxiaopeilian/">驾校/陪练</A><br>
	<A href="<%=constURL%>/ershouzhudongche/">摩托车/助动车</A><br>
	<A href="<%=constURL%>/zuchedaijia/">租车/代驾</A><br>
	<A href="<%=constURL%>/pinche/">拼车上下班</A><br>
	<h3><A href="<%=constURL%>/Friend/">交友/征婚</A></h3>
	<A href="<%=constURL%>/xingqujiaoyou/">兴趣交友</A><br><A href="<%=constURL%>/hunyinzhongjie/">婚介机构</A><br>
	<A href="<%=constURL%>/zhaonvpengyou/">找女友</A> 　<br> <A href="<%=constURL%>/zhaonanpengyou/">找男友</A><br>
	<A href="<%=constURL%>/nanshizhenghun/">男士征婚</A> <br> <A href="<%=constURL%>/nvshizhenghun/">女士征婚</A><br>
	<A href="<%=constURL%>/paidui/">活动派对</A> <br> <A href="<%=constURL%>/tongxianghui/">同乡会</A>
</div>
<div id="fl_left2">
	<h3><A href="<%=constURL%>/tiaozao/">跳蚤市场</A></h3>
	<A href="<%=constURL%>/jiushu/">旧书/刊物</A><br>
	<A href="<%=constURL%>/ershoudiannao/">电脑/配件</A><br>
	<A href="<%=constURL%>/tongxunchanpin/">通讯产品</A><br>
	<A href="<%=constURL%>/ershoushuma/">数码产品</A><br>
	<A href="<%=constURL%>/ershoudianqi/">家用电器</A><br>
	<A href="<%=constURL%>/ershoujiaju/">居家用品</A><br>
	<A href="<%=constURL%>/bangongyongpin/">办公用品</A><br>
	<A href="<%=constURL%>/wentiyongpin/">文体用品</A><br>
	<A href="<%=constURL%>/yinxiangzhipin/">音像制品</A><br>
	<A href="<%=constURL%>/lipin/">礼品/工艺品</A><br>
	<A href="<%=constURL%>/piao/">门票/消费卷</A><br>
	<A href="<%=constURL%>/youxiwanju/">游戏/玩具</A><br>
	<A href="<%=constURL%>/fuzhuangshipin/">服装饰品</A><br>
	<A href="<%=constURL%>/meironghufu/">美容/护肤</A><br>
	<A href="<%=constURL%>/muyingyongpin/">母婴/儿童用品</A><br>
	<A href="<%=constURL%>/wangyou/">网游/虚拟/软件</A><br>
	<A href="<%=constURL%>/wujingongju/">五金/工程机械</A><br>
	<A href="<%=constURL%>/ershouhuishou/">二手回收</A><br>
	<A href="<%=constURL%>/qitaershouhuo/">其他买卖</A><br>
	<h3><A href="<%=constURL%>/city/">同城生活</A></h3>
	<A href="<%=constURL%>/gongyihuodong/">公益活动/志愿者</A><br>
	<A href="<%=constURL%>/tuangou/">打折/团购</A><br>
	<A href="<%=constURL%>/yulehuodong/">娱乐活动</A><br>
	<A href="<%=constURL%>/shangyehezuo/">商业合作</A><br>
	<A href="<%=constURL%>/lvyoudujia/">旅游/度假</A><br>
	<A href="<%=constURL%>/jiangzuo/">讲座/研讨会</A><br>
	<A href="<%=constURL%>/xunrenqishi/">寻人启示</A><br>
	<A href="<%=constURL%>/baoguang/">曝光台</A>
</div>
<div id="fl_left2">
	<h3><A href="<%=constURL%>/zhaopin/">招聘/求职</A></h3>
	<A href="<%=constURL%>/xiaoshou/">业务/销售/市场</A><br>
	<A href="<%=constURL%>/jingyingguanli/">经营管理</A><br>
	<A href="<%=constURL%>/jisuanji/">计算机/网络/通信</A><br>
	<A href="<%=constURL%>/kefu/">客服/文秘/文员</A><br>
	<A href="<%=constURL%>/caiwu/">财务/会计/审计</A><br>
	<A href="<%=constURL%>/guanggaoshejizhaopin/">广告/设计</A><br>
	<A href="<%=constURL%>/xingzhengrenshi/">行政/人事</A><br>
	<A href="<%=constURL%>/jigonggongren/">技工/工人/普工</A><br>
	<A href="<%=constURL%>/jiudiancanyin/">酒店/餐饮/服务业</A><br>
	<A href="<%=constURL%>/yingshi/">演艺/影视</A><br>
	<A href="<%=constURL%>/fanyiwenan/">新闻/翻译/文案</A><br>
	<A href="<%=constURL%>/lvshifawu/">律师/法务/咨询</A><br>
	<A href="<%=constURL%>/jiaoyupeixun/">教师/教育/培训</A><br>
	<A href="<%=constURL%>/wuliu/">物流/贸易/采购</A><br>
	<A href="<%=constURL%>/diaochawenjuan/">调查/问卷/派发</A>
	<h3><A href="<%=constURL%>/train/">培训</A></h3>
	<A href="<%=constURL%>/waiyupeixun/">外语培训</A><br> 
	<A href="<%=constURL%>/jixujiaoyu/">继续教育</A><br>
	<A href="<%=constURL%>/diannaopeixun/">电脑/网络</A><br> 
	<A href="<%=constURL%>/wenyitiyu/">文艺/体育</A><br>
	<A href="<%=constURL%>/zhiyepeixun/">职业培训</A><br>
	<A href="<%=constURL%>/kaoyanchuguo/">考研/出国</A><br>  
	<A href="<%=constURL%>/kungfu/">武校</A>
	<h3><A href="<%=constURL%>/fitment/">装饰/建材</A></h3>
	<A href="<%=constURL%>/zhuangxiu/">装饰装修</A> <br><A href="<%=constURL%>/jianzhucailiao/">建材</A><br>
	<A href="<%=constURL%>/jiajujiancai/">家具家居</A><br><A href="<%=constURL%>/gongchengshigong/">工程施工</A><br>
</div>
<div id="fl_right">
	<h3><A href="<%=constURL%>/service/">生活服务</A></h3>
	<A href="<%=constURL%>/jiadianweixiu/">家电/家居维修</A><br>
	<A href="<%=constURL%>/jiajiao/">家教补习</A><br>
	<A href="<%=constURL%>/jiazheng/">家政/保洁</A><br>
	<A href="<%=constURL%>/diannaoweixiu/">电脑维修</A><br>
	<A href="<%=constURL%>/banjia/">搬家运输</A><br>
	<A href="<%=constURL%>/baojianmeirong/">保健/美容</A><br>
	<A href="<%=constURL%>/shejicehua/">设计/策划</A><br>
	<A href="<%=constURL%>/piaowu/">各类票券</A><br>
	<A href="<%=constURL%>/kuaidiwuliu/">快递/物流</A><br>
	<A href="<%=constURL%>/canyinjiulou/">餐饮/酒楼</A><br>
	<A href="<%=constURL%>/baomutuoersuo/">保姆/托儿所</A><br>
	<A href="<%=constURL%>/hunqing/">礼仪婚庆</A><br>
	<h3><A href="<%=constURL%>/shangwufuwu/">商务服务</A></h3>
	<A href="<%=constURL%>/falvzixun/">法律/咨询/调查</A><br>
	<A href="<%=constURL%>/gongshangzhuce/">工商注册/会计</A><br>
	<A href="<%=constURL%>/yiminqianzheng/">留学/移民/签证</A><br>
	<A href="<%=constURL%>/shangbiaozhuanli/">商标专利</A><br>
	<A href="<%=constURL%>/jinrongdaikuan/">金融/贷款/保险</A><br>
	<A href="<%=constURL%>/wangzhanjianshe/">网站建设/IDC</A><br>
	<A href="<%=constURL%>/fanyixiezuo/">翻译/写作</A><br>
	<A href="<%=constURL%>/liansuo/">连锁加盟</A>
	<h3><A href="<%=constURL%>/pet/">宠物</A></h3>
	<A href="<%=constURL%>/mao/">宠物猫</A> - 
	<A href="<%=constURL%>/gou/">宠物狗</A><br>
	<A href="<%=constURL%>/guanshangyu/">观赏鱼</A> - 
	<A href="<%=constURL%>/niao/">玩赏鸟</A><br>
	<A href="<%=constURL%>/chongwuyongpin/">宠物用品</A><br>
	<A href="<%=constURL%>/chongwufuwu/">宠物服务</A><br>
	<A href="<%=constURL%>/chongwuzengsong/">宠物赠送</A><br>
	<A href="<%=constURL%>/qitachongwu/">其他宠物</A>
</div>
<%openconn
set rs=server.CreateObject("adodb.recordset")%>
<div class="box1"> 
	<ul><center><a href="/publish/"><img src="/images/btn_fabu.jpg" border=0 alt="免费发布信息"></a></center></ul>
	<span>最新<%=constCurrentCity%>分类信息</span>
	<ul>
	<%txt = ""
	strSql = "select top 10 ID,charName,intSCID from " & constCurrentInfoTab & " [nolock] where 1=1 " & constAddSql & " order by ID desc"
	rs.Open strSql,conn
	while not rs.EOF
		Response.Write "<a href=""" & constURL & getInfoURL("0",rs(2),constCurrentURL,rs(0)) &""" target=_blank>" & rs(1) & "</a> << <a href=""" & constURL & "/" & getColsAlias(rs(2)) & "/"">" & getColsName(rs(2)) & "</a><br>"
		rs.MoveNext 
	wend
	rs.Close %>
	</ul>
	<span>帮助信息</span>
	<ul>
	<a href="/public/help.asp#f" target=_blank>蒜皮网信息发布规则。</a><br>
	<a href="/public/help.asp#f" target=_blank>我发的信息为什么被删除了？</a><br>
	<a href="/public/help.asp#m" target=_blank>如何将我发的信息置顶？</a><br>
	</ul>
	<span><a href="<%=constURL%>/bless/bless.asp" target=_blank>网友祝福</a>　<a href="<%=constURL%>/bless/bless_add.asp" target=_blank><font style="font-size:11px">写祝福</font></a></span>
	<div class="box_in">
	<marquee  DIRECTION=UP SCROLLAMOUNT=1 BEHAVIOR=SCROLL width=100% height=80 SCROLLDELAY=10 onMouseOver="javascript:this.stop(); " onMouseOut="javascript:this.start();">
	<%
	strSql = "select top 10 charName,charToName,charMemo from tblBless where bitIfConfirm=1 order by id desc"
	rs.Open strSql,conn
	while not rs.EOF
		Response.Write "<b><font color=blue>" & rs(0) & "</font> 祝福 <font color=blue>" & rs(1) & "</font></b><br>" & rs(2) & "<br>"
		rs.MoveNext 
	wend
	rs.Close 
	%>
	</marquee>
	</div>
	<span>置顶信息</span>
	<%txt = ""
	strSql = "select top 12 ID,intBCID,intSCID,charName from " & constCurrentInfoTab & " [nolock] " & _
		" where ID in(select intInfoID from tblInfo_UP where charCity='" & constCurrentURL & "' and dtTo>getdate())" & _
		" order by newid()"
	rs.Open strSql,conn
	while not rs.EOF
		txt = txt & "<a href=""" & constURL & getInfoURL(rs(1),rs(2),constCurrentURL,rs(0)) & """ target=_blank>" & rs(3) & "</a><br>"
		rs.MoveNext 
	wend
	rs.Close 
	%>
	<ul><%=txt%></ul>
</div>
<%set rs = nothing
closeconn%>
<div id="search_tb">
	<%if constCurrentURL="bj" then%>
	&nbsp;<a target=_blank href="shop/index.asp?BCID=122" target=_blank>北京医院</a>
	&nbsp;&nbsp;<a href="<%=constURL%>/public/BJJX.asp" target=_blank>北京驾校</a>
	&nbsp;&nbsp;<a href="public/BJTels.asp" target=_blank>北京市常用电话</a>
	<%end if%>
	&nbsp;&nbsp;<a href='/tool/ip/ips.asp' target='_blank'>IP地址</a>	 
	&nbsp;&nbsp;<a href='/public/calendar.htm' target='_blank'>万年历</a>	 
	&nbsp;&nbsp;<a href='/public/worldtime.htm' target='_blank'>世界时间</a>	
	&nbsp;&nbsp;<a href='/sousuo8/public/cpcode.htm' target='_blank'>车牌号码</a>	  
	&nbsp;&nbsp;<a href='/public/p_weizhang.htm' target='_blank'>违章查询</a>
</div>
<!---#include file="includes/copyright_index.asp"-->
</body>
</html>