{% extends "base.html" %} 
{% block content %}  
<ul>
	<li>　用户名：<input name="username" size=25 maxlength="20" dataType="Limit" min=4 max=20 msg="4~20位数字、字母组成"><span id="chkusername"></span>
	<span>4-20个字符（包括字母、数字）</span></li>
	<li>登录密码：<input type="password" name="pwd" id="pwd" size=25 min="6" max="16" dataType="Limit" msg="6~16位"/><span id="pwd_1"></span>
	<span>密码长度6~16位，由字母、数字、特殊字符组成</span></li>
	<li>重复密码：<input type="password" name="pwd2" id="pwd2" size=25  maxlength="20"><span id="pwd_2"></span></li>
	<li>电子邮件：<input name="email" size=25 maxlength="50" dataType="Email" msg="邮件格式不正确" /></li>
	<li>验证码：<img id="checkcode" src="GetCode.asp" align="absmiddle" border="0" /><input name="checkimg" type="text" class="input" id="checkimg" style="width: 50px;" maxlength="6" dataType="Require" msg="请输入验证码" /></li>

</ul>
{% endblock %}