#table_leibie {
	BORDER-RIGHT: #ffcc00 1px solid; BORDER-TOP: #ffcc00 1px solid; BACKGROUND: #ffffcc; BORDER-LEFT: #ffcc00 1px solid; BORDER-BOTTOM: #ffcc00 1px solid
}
#table_leibie TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
#table_leibie TD UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#table_leibie TD LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(../images/li_arrow.gif) no-repeat 0px 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
#table_leibie TD LI A {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#table_leibie TD LI A:visited {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#table_leibie TD LI A:hover {
	COLOR: #ff0000
}
#td_leibie {
	FONT-SIZE: 13px; OVERFLOW: hidden; WIDTH: 760px;word-break:break-all;word-wrap:break-word;
}
#td_leibie DIV {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; FLOAT: left; MARGIN-BOTTOM: 10px; BORDER-LEFT: #efefef 1px solid; WIDTH: 374px; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #efefef 1px solid
}
#td_leibie DIV H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; MARGIN: 1px; COLOR: #ff6600; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
#td_leibie DIV H2 A {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#td_leibie DIV UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
#td_leibie DIV LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(../images/li_dot3.gif) no-repeat 0px 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#td_leibie DIV LI SPAN {
	COLOR: #999999
}
#td_leibie2 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 13px; BORDER-BOTTOM-WIDTH: 1px; OVERFLOW: hidden; WIDTH: 980px; BORDER-RIGHT-WIDTH: 1px
}
#td_leibie2 DIV {
	BORDER-RIGHT: #c0dcfa 1px solid; BORDER-TOP: #c0dcfa 1px solid; FLOAT: left; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #c0dcfa 1px solid; WIDTH: 180px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #c0dcfa 1px solid; HEIGHT: 80px; TEXT-OVERFLOW: ellipsis
}
#td_leibie2 SPAN {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
#td_leibie2 DIV H2 A {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#td_leibie2 DIV UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
#td_leibie2 DIV LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(../images/li_dot3.gif) no-repeat 0px 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#td_leibie2 DIV LI SPAN {
	COLOR: #999999
}
#td_leibie3 DIV {
	BORDER-RIGHT: #c0dcfa 1px solid; BORDER-TOP: #c0dcfa 1px solid; FLOAT: left; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #c0dcfa 1px solid; WIDTH: 180px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #c0dcfa 1px solid; HEIGHT: 150px; TEXT-OVERFLOW: ellipsis
}
#td_leibie3 SPAN {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
#td_leibie3 DIV H2 A {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#td_leibie3 DIV UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
#td_leibie3 DIV LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(../images/li_dot3.gif) no-repeat 0px 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#td_leibie3 DIV LI SPAN {
	COLOR: #999999
}
#cities {
	BACKGROUND: url(../images/bg_city.gif) no-repeat 0px 3px; HEIGHT: 36px; TEXT-ALIGN: left
}
#cities UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cities LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cities LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #ff6600; LINE-HEIGHT: 30px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#cities LI A:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
#cities LI A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
#cities LI#action {
	BACKGROUND: url(../images/bg_city1.gif) no-repeat left top
}
#cities LI#action A {
	PADDING-RIGHT: 5px; BACKGROUND: url(../images/bg_city2.gif) no-repeat right top
}
#city_area {
	TEXT-ALIGN: left
}
#city_area A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 8px 8px 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
#search_info {
	CLEAR: both; BORDER-RIGHT: #ffe3d2 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffe3d2 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffe3d2 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffe3d2 1px solid; TEXT-ALIGN: center
}
.info_page {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffe3d2; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;clear:both
}
.info_page SPAN {
	FLOAT: right; WIDTH: 200px; TEXT-ALIGN: right
}
.info_page SPAN UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.info_page SPAN LI {
	BORDER-RIGHT: #ffd0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffd0b0 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: #fff6f1; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; BORDER-LEFT: #ffd0b0 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ffd0b0 1px solid; LIST-STYLE-TYPE: none
}
.info_page SPAN LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.info_page SPAN LI A:hover {
	BACKGROUND: #fff; COLOR: #000000; TEXT-DECORATION: none
}
.info_page H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 16px; MARGIN-RIGHT: 210px
}
.table_list {
	CLEAR: both; BORDER-RIGHT: #ffe3d2 1px solid; BORDER-TOP: #ffe3d2 1px solid; FONT-SIZE: 13px; MARGIN: 0px; BORDER-LEFT: #ffe3d2 1px solid; BORDER-BOTTOM: #ffe3d2 1px solid; BORDER-COLLAPSE: collapse
}
.table_list TH {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: url(../images/bg_tb.jpg) repeat-x; PADDING-BOTTOM: 6px; COLOR: #ff6600; PADDING-TOP: 6px; BORDER-BOTTOM: #ffe3d2 1px solid
}
.table_list TH#dt_title {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: left
}
.table_list TH h1 {
	FONT-SIZE: 15px;FONT-WEIGHT: bold
}
.table_list TH h2 {
	FONT-SIZE: 15px;FONT-WEIGHT: bold
}
.table_list TH#dt_huitie {
	TEXT-ALIGN: right
}
.table_list TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.table_list TD#dt_info {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; PADDING-TOP: 4px
}
.table_list TD#dt_info_Other {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; PADDING-TOP: 4px
}
.table_list TD#dt_info TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.table_list TD#dt_info SPAN {
	FONT-WEIGHT: bold; COLOR: #ff6600
}
.table_list TD#dt_info SPAN#viewtime {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/viewtime.gif) no-repeat 0px 5px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 5px 0px; COLOR: #999999; PADDING-TOP: 0px
}
#list_contact {
	BORDER-RIGHT: #ffe3d2 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffe3d2 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 10px; BACKGROUND: #fffbf8; PADDING-BOTTOM: 10px; BORDER-LEFT: #ffe3d2 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ffe3d2 1px solid
}
#list_cols {
	LINE-HEIGHT: 20px;BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 10px; BACKGROUND: #fff4ee; PADDING-BOTTOM: 2px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e0e0e0 1px solid
}
#dp_pro_info {
	BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 10px; FONT-SIZE: 12px; COLOR: #666666
}
#dp_pro_info H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#dp_pro_info P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-INDENT: 2em; PADDING-TOP: 0px
}
.table_list TD.bg_difrent {
	BACKGROUND: #f6f6f6
}
#table_huifu {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
#table_huifu TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ebebeb 1px solid; TEXT-ALIGN: left
}
#table_huifu TD {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; BACKGROUND: #fafafa; PADDING-BOTTOM: 5px! important; PADDING-TOP: 5px! important
}
#table_info_tools TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#table_info_tools TD INPUT {
	BORDER-RIGHT: #d8af92 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d8af92 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(../images/bg_btn.jpg) #ffcc99 repeat-x; PADDING-BOTTOM: 4px; BORDER-LEFT: #d8af92 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #d8af92 1px solid
}
#table_login {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BORDER-COLLAPSE: collapse
}
#table_login TH {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #dbdbdb; COLOR: #000000; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
#table_login TD {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 24px; PADDING-TOP: 20px
}
#table_login TD.login_title {
	FONT-SIZE: 14px; COLOR: #333333; TEXT-ALIGN: right
}
#table_login_sm {
	LINE-HEIGHT: 20px
}
#table_login_sm H2 {
	FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
#table_login_sm UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#table_login_sm LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/li_dot.gif) no-repeat 0px 7px; MARGIN: 0px; COLOR: #666666; LIST-STYLE-TYPE: none
}
#table_reg {
	
}
#table_reg TD {
	BORDER-RIGHT: #fff1e8 1px solid; PADDING-RIGHT: 60px; BORDER-TOP: #fff1e8 1px solid; PADDING-LEFT: 60px; PADDING-BOTTOM: 30px; BORDER-LEFT: #fff1e8 1px solid; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: #fff1e8 1px solid
}
#table_reg H2 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: url(../images/bg_h2.gif) repeat-x; COLOR: #ff6600; LINE-HEIGHT: 28px
}
#table_reg P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 22px; PADDING-TOP: 10px
}
#table_reg UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 30px; PADDING-TOP: 0px
}
#table_reg LI {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; LIST-STYLE-TYPE: none
}
#table_reg H2 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666
}
#table_reg LI SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666
}
#table_guestbook TH {
	FONT-SIZE: 14px; LINE-HEIGHT: 24px; TEXT-ALIGN: center
}
#table_guestbook TD {
	PADDING-RIGHT: 10px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 24px; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#table_guestbook TD.bg_ccc {
	BACKGROUND: #f6f6f6
}
.table_memberCenter {
	BORDER-RIGHT: #ffd0b0 1px solid; BORDER-TOP: #ffd0b0 1px solid; MARGIN-TOP: 12px; BORDER-LEFT: #ffd0b0 1px solid; BORDER-BOTTOM: #ffd0b0 1px solid
}
.table_memberCenter TD {
	BORDER-RIGHT: #fff1e8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff1e8 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #fff1e8 1px solid; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: #fff1e8 1px solid
}
#center_wel {
	BORDER-RIGHT: #edebcd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #edebcd 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: #fefdec; PADDING-BOTTOM: 10px; BORDER-LEFT: #edebcd 1px solid; COLOR: #ff6600; LINE-HEIGHT: 24px; PADDING-TOP: 10px; BORDER-BOTTOM: #edebcd 1px solid
}
#center_menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px; PADDING-TOP: 0px
}
#center_menu LI {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bg_cmenu.gif) no-repeat; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#center_info_weihu {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-STYLE: none
}
#center_info_weihu TH {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 5px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
#center_info_weihu TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px dotted; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left
}
.master {
	CLEAR: both; MARGIN-TOP: 5px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bold; COLOR: #ff0000
}
.master SPAN {
	FONT-WEIGHT: normal; COLOR: #999999
}
#guestbook_huifu TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#table_info_fabu TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 22px; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#fabu_sm {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #990000; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: ºÚÌå
}
#fabu_sm UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#fabu_sm LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 28px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
#fabu_sm LI SPAN {
	FONT-SIZE: 18px; COLOR: #ff0000
}
#fabu_sm2 {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #666666; PADDING-TOP: 10px; BORDER-BOTTOM: #f3f3f3 1px solid
}
#fabu_sm2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#fabu_sm2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal
}
#fabu_sm2 H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 0px
}
.dp_list {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px dotted; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; PADDING-TOP: 10px
}
.dp_list IMG {
	FLOAT: left; WIDTH: 100px; HEIGHT: 90px
}
.dp_list SPAN {
	DISPLAY: block; MARGIN-LEFT: 110px; COLOR: #666666; LINE-HEIGHT: 22px
}
#table_dp_fenlei {
	BORDER-COLLAPSE: collapse
}
#table_dp_fenlei TH {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left; borderleft: 1px solid #fff
}
#table_dp_fenlei TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
#table_dp_fenlei TD UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#table_dp_fenlei TD LI {
	PADDING-LEFT: 16px; BACKGROUND: url(../images/li_dot2.gif) no-repeat 3px 9px; LINE-HEIGHT: 24px
}
.table_site TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #ffcc00; PADDING-BOTTOM: 5px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
.table_site2 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
.table_site TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.table_site2 TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-BOTTOM: #f3f3f3 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left
}
.table_site2 TD.nvt {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #f3f3f3 1px solid; TEXT-ALIGN: right
}
.table_site3 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 28px; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; COLOR: #ff6600; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; FONT-FAMILY: ºÚÌå; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.table_site3 TD {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; BORDER-LEFT: #f3f3f3 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f3f3f3 1px solid; TEXT-ALIGN: left
}
.s1 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; WIDTH: 400px; PADDING-TOP: 1px; HEIGHT: 20px; TEXT-ALIGN: left
}
.s2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: right; PADDING-BOTTOM: 1px; WIDTH: 200px; PADDING-TOP: 1px; HEIGHT: 20px; TEXT-ALIGN: right
}
.s3 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px;FONT-SIZE:14px; WIDTH: 100%; PADDING-TOP: 1px; HEIGHT: 25px; TEXT-ALIGN: left
}
.s4 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: right; PADDING-BOTTOM: 1px; WIDTH: 50px; PADDING-TOP: 1px; HEIGHT: 0px; TEXT-ALIGN: right
}
.dotline {
	BORDER-TOP-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-BOTTOM-STYLE: dotted
}

#tab_class {
	MARGIN: 0px;
}
#tab_class UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#tab_class LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;margin-right:1px
}
#tab_class LI#selected {
	PADDING-LEFT: 10px; BACKGROUND: url(/images/bg_tab1.gif) no-repeat left -33px
}
#tab_class LI#selected SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(/images/bg_tab2.gif) no-repeat right -33px; PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 5px
}
#tab_class LI A {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(/images/bg_tab1.gif) no-repeat left top; COLOR: #0033CC; TEXT-DECORATION: none
}
#tab_class LI A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/images/bg_tab2.gif) no-repeat right top; PADDING-BOTTOM: 3px; COLOR: #0033CC;font-weight:bold; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#tab_class LI A:visited {
	COLOR: #0033CC; 
	TEXT-DECORATION: none
}
#tab_class LI A:hover span {
	COLOR:#FF6600;
	TEXT-DECORATION: underline!important;
}

#nav_bar{padding-top:1px;border:1px solid #c5ebff;background-color:#fff4ee;padding-left:8px;padding-right:3px}
#nav_bar #buttons{float:left;width:inherit;padding-left:9px;padding-right:9px;border-right:1px solid #000;line-height:15px;margin-top:6px}
#nav_bar #buttons .on{text-decoration:underline}
#nav_bar #last_button{float:left;width:inherit;padding-left:9px;padding-right:9px;line-height:15px;margin-top:6px}
ul.lbbox {margin: 0; padding: 0;}
ul.lbbox li {float:left; margin:0 8px 0 0; white-space:nowrap;padding:0 2px;line-height:18Px;}
li.opton {color:#fff!important;background: #4444FF!important; }
li.opton a {color:#fff!important;}

.bc_off { position:relative; height:38px; width:100%; z-index:100;}
.bc_on { background:#fff; border:1px solid #6694E3; width:28.5%;_width:99.8%;position:absolute; z-index:110;}
table.bctbl td {border-bottom: 1px solid #def1fb; padding-bottom:10px;width:50%; vertical-align:top; overflow:hidden;}
ul.wanted_left {height:38px;width:100%;margin:0; padding:5px 0; overflow:hidden;}
ul.wanted_left2 {width:100%;margin:0; padding:5px 0; overflow:hidden;}
ul.wanted_left2 A:hover{COLOR: #ff0000}
ul.wanted_left li { color:#555; padding-left:5px; line-height:18px; float:left;}
ul.wanted_left2 li { color:#555; padding-left:5px; line-height:18px; float:left;}
ul.wanted_left li h3,ul.wanted_left2 li h3 { margin:5px 0;}
ul.wanted_left li h3 a,ul.wanted_left2 li h3 a { color:#2244DD;text-decoration:underline; background:none!important; padding-right:0!important;}
ul.wanted_left li a,ul.wanted_left2 li a,ul.qita li a { color:#555; text-decoration:none;background:url() no-repeat 100% -829px; padding-right:20px;display:block; float:left; white-space:nowrap;}
ul.wanted_left li a:visited,ul.wanted_left h3 a:visited,ul.qita li a:visited,ul.wanted_left2 li a:visited,ul.wanted_left2 h3 a:visited{color:#800080;}
ul.wanted_left li a{white-space:nowrap;}
#block_right{border:2px solid #def1fb; float:left;padding:4px;}